streamlit
google-generativeai
google-api-core
pandas
markdown2
beautifulsoup4
fpdf2
python-dateutil
requests
tqdm
PyPDF2
PyYAML
PyMuPDF
xai_sdk
plotly
httpx
pydantic
pdfplumber
pyvis
Pillow
pytesseract
